.carousel .slide img {
  width: 100%;
  vertical-align: top;
  height: 100%;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.carousel .slide .imageContainer {
  position: relative;
  width: 100%;
  padding-top: 35%;
  min-height: 300px;
}
.header {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;

  position: absolute;
  z-index: 9999;
  width: 100%;
  padding: 17px 30px;
  border-bottom: 1px solid #ddd;
}
.landing .logo {
  font-size: 30px;
}
.landing {
  width: 100%;
}
.logButton {
  float: right;
  margin-top: 5px;
}
.logButton .btn {
  background-color: #1480d8;
  border: #0f3b5e;
  padding: 6px 15px;
}
.fullWidth {
  width: 100%;
}
